

    <!-- Navigation -->

    <div class="desktop-hide" style="padding:30px;"></div>
    <nav class="navbar navbar-csh navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle csh-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><img src="/resources/images/Round-with-Thin-Text.svg" class="csh-logo"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav csh-navbar-nav pull-right">
                    <li>
                        <a href="/">
                            <div class="csh-navbar-nav-shift{% if basePage == 'index' %} link-active{% endif %}">Home</div>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="/40th" class="dropdown-toggle disabled{% if basePage == '40th' %} link-active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="csh-navbar-nav-shift">40th Anniversary<span class="caret"></span></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/40th/chairmanletter">Chairman's Letter</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="/about" class="dropdown-toggle disabled{% if basePage == 'about' %} link-active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="csh-navbar-nav-shift">About <span class="caret"></span></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/about/projects">Projects</a></li>
                            <li><a href="/about/alumni">Alumni</a></li>
                            <li><a href="/about/eboard">Eboard</a></li>
                            <li><a href="/about/sponsors">Sponsors</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="/membership" class="nav-dropdown-toggle dropdown-toggle disabled {% if basePage == 'membership' %} link-active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="csh-navbar-nav-shift">Membership<span class="caret"></span></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/membership/traditions">Traditions</a></li>
                            <li><a href="/membership/tour">Tour</a></li>
                            <li><a href="/membership/insights">Insights</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/contact">
                            <div class="csh-navbar-nav-shift {% if basePage == 'contact' %} link-active{% endif %}">Contact</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>